@font-face {
  font-family: 'kanit';
  src: url('../fonts/Kanit/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'kanit-light';
  src: url('../fonts/Kanit/Kanit-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'kanit-regular';
  src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'robot';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'kanit', sans-serif;
  font-size: large;
  outline: none;
}

body {
  display: flex;
  background: bisque;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

header {
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'lato', sans-serif;
  font-size: larger;
  color: rgb(255, 112, 112);
  padding: 15px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.container {
  width: 600px;
  align-items: flex-start;
  border: solid 3px black;
}

.refresh {
  transform: rotateZ(140deg);
  cursor: pointer;
  transition: 0.3s;
  color: red;
}

.refresh:hover {
  color: rgba(5, 141, 0, 0.661);
  transform: rotateZ(80deg);
}

.refresh:active {
  transform: rotateZ(360deg);
}

.add-task {
  width: 100%;
}

.add-task input {
  width: 100%;
  padding: 15px;
  background-color: bisque;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.add-task input::placeholder {
  font-family: "kanit-light", sans-serif;
  font-size: small;
  letter-spacing: 0;
}

.tasks {
  list-style: none;
  width: 100%;
}

.tasks li {
  padding: 5px;
  gap: 1%;
  display: grid;
  grid-template-columns: 7.33% 83.34% 7.33%;
  align-items: center;
  border: 1px solid grey;
  transition: 0.1s;
  background-color: bisque;
}

.status {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.tasks input {
  border: none;
  transition: 0.3s;
  background-color: transparent;
  font-family: "kanit-regular", sans-serif;
  color: rgb(43, 43, 43);
}

.tasks li:focus-within,
li:focus-within input {
  background-color: rgb(255, 244, 231);
}

.container button {
  width: 100%;
  height: 50px;
  font-family: 'robot', sans-serif;
  background: rgb(255, 240, 221);
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-top: 1px solid black;
}

.container button:hover {
  background: rgb(255, 166, 121);
}

.container button:active {
  background: rgb(255, 137, 79);
  font-size: small;
}

.dragRemoveContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition: 0.3s;
}

.dragRemoveContainer:hover {
  color: rgba(0, 0, 255, 0.567);
  transform: scale(1.3);
}

.dragRemoveContainer:active {
  cursor: grabbing;
  color: blue;
}

.true {
  color: grey !important;
  text-decoration: line-through;
}
