/* stylelint-disable csstree/validator */

@font-face {
  font-family: 'kanit';
  src: url('../fonts/Kanit/Kanit-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'kanit-light';
  src: url('../fonts/Kanit/Kanit-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'kanit-regular';
  src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'robot';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'kanit', sans-serif;
  font-size: large;
  outline: none;
}

body {
  display: flex;
  background: url(../assets/mainBackground.jpg);
  background-size: cover;
  backdrop-filter: blur(15px);
  padding: 5% 0;
  align-items: center;
  min-height: 100vh;
}

header {
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'lato', sans-serif;
  font-size: larger;
  color: rgb(255, 112, 112);
  text-shadow: 2px 2px 5px black;
  padding: 15px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1000px;
  align-items: flex-start;
  border: solid 3px black;
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(1000px);
  box-shadow: 2px 2px 50px black;
  overflow: hidden;
}

.refresh {
  transform: rotateZ(140deg);
  cursor: pointer;
  transition: 0.3s;
  color: rgb(255, 36, 36);
  text-shadow: 2px 2px 5px black;
}

.refresh:hover {
  color: rgba(6, 194, 0, 0.661);
  transform: rotateZ(80deg);
}

.refresh:active {
  transform: rotateZ(360deg);
}

.add-todo {
  width: 100%;
}

.add-todo input {
  width: 100%;
  padding: 15px;
  color: rgb(224, 224, 224);
  background-color: transparent;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.add-todo input::placeholder {
  font-family: "kanit-light", sans-serif;
  font-size: small;
  letter-spacing: 0;
  color: rgb(181, 181, 181);
  transition: 0.3s;
}

.add-todo input:focus::placeholder {
  text-shadow: 2px 2px 10px black;
}

.todos {
  list-style: none;
  width: 100%;
}

.todos li {
  padding: 5px;
  gap: 1%;
  display: grid;
  grid-template-columns: 7.33% 83.34% 7.33%;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: 0.1s;
}

.status {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  accent-color: red;
}

.todos .todo {
  border: none;
  transition: 0.3s;
  background-color: transparent;
  font-family: "kanit-regular", sans-serif;
  color: rgb(255, 202, 97);
}

.todos li:focus-within {
  background-color: rgba(0, 0, 0, 0.147);
}

.container button {
  width: 100%;
  min-height: 50px;
  font-family: 'robot', sans-serif;
  background-color: rgba(0, 0, 0, 0.314);
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-top: 1px solid black;
  color: white;
}

.container button:hover {
  background: rgba(255, 166, 121, 0.42);
}

.container button:active {
  background: rgba(255, 138, 79, 0.532);
  font-size: small;
}

.dragRemoveContainer {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition: 0.3s;
}

.dragRemoveContainer:hover {
  color: rgba(0, 0, 255, 0.567);
  transform: scale(1.5);
}

.dragRemoveContainer:active {
  cursor: grabbing;
  color: blue;
}

.fa-trash-can {
  cursor: pointer;
}

.fa-ellipsis-vertical,
.fa-trash-can {
  position: absolute;
  transition: 0.3s;
}

.fa-trash-can:hover {
  color: rgb(255, 0, 43);
}

.hide {
  opacity: 0;
  transform: scale(0);
}

.display {
  opacity: 1;
  transform: scale(1);
}

.true {
  color: grey !important;
  text-decoration: line-through;
}
